@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>
<p>Seja bem-vindo  @ViewData["Nome"]</p>

@* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@

<div class="text-center">
    @* <h1 class="display-4">@DateTime.Now</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
